<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head th:replace="/templatesFragments/head :: head"> </head>

<body>

<nav>
  <a href="/author/list">AUTHORS </a>

</nav>

<header>
  <div class="container">
    <h1>Author Form</h1>
  </div>
</header>

<div class="container">

  <form class="form" th:action="@{/author/modify/__${id}__}" method="post">

    <input hidden th:value="${id}" name="id">

    <div>
      <input th:value="${author.name}" type="text" class="form-control" name= "name">
    </div>

    <button type="submit" class="btn btn-primary">Modify</button>
  </form>
</div>


<main>

</main>

<footer>
  <p>&copy; 2023 Mi Página Web</p>
</footer>

<!-- Puedes incluir tus scripts JavaScript aquí -->
<script src="script.js"></script>
</body>
</html>
