<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Mi Página Web</title>
  <!-- Puedes enlazar tus estilos CSS aquí -->
  <link rel="stylesheet" href="styles.css">

  <style>
      body {
          font-family: Arial, sans-serif;
          margin: 0;
          padding: 0;
      }

      nav {
          background-color: #333;
          overflow: hidden;
      }

      nav a {
          float: left;
          display: block;
          color: white;
          text-align: center;
          padding: 14px 16px;
          text-decoration: none;
      }

      nav a:hover {
          background-color: #ddd;
          color: black;
      }
  </style>
</head>
<body>

<nav>
  <a href="/author/list">AUTHORS </a>

</nav>

<header>
  <div class="container">
    <h1>Author Form</h1>
  </div>
</header>

<div class="container">

  <form class="form" th:action="@{/author/modify/__${id}__}" method="post">

    <input hidden th:value="${id}" name="id">

    <div>
      <input th:value="${author.name}" type="text" class="form-control" name= "name">
    </div>

    <button type="submit" class="btn btn-primary">Modify</button>
  </form>
</div>


<main>

</main>

<footer>
  <p>&copy; 2023 Mi Página Web</p>
</footer>

<!-- Puedes incluir tus scripts JavaScript aquí -->
<script src="script.js"></script>
</body>
</html>
