<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">


<head th:replace="/templatesFragments/head :: head"> </head>


<body>

<nav>
  <a href="/book/list">Books</a>
  <a href="/author/list">Authors</a>
  <a href="/publisher/list">Publishers</a>
  <a href="/login">Login</a>
  <a href="/register">Sing Up</a>


</nav>

<!-- Contenido de la página -->
<div >
  <h2>Contenido de la Página</h2>
  <div class="containerImg">
    <a href="#" class="navbar-brand d-flex align-items-center">
      <img class="logo" src="/img/Egg.png" alt="Img logo egg">
    </a>
  </div>
  <p>Aquí va el contenido de tu página.</p>

  </div>
</div>
</body>
</html>